.input-field {
    margin-left: 25%;
    margin-top: 10%;
}

.input {
    padding: 12px;
}

h1 {
    text-align: center;
}

.navbar {
    border: 2px solid black;
    padding: 25px;
    border-radius: 7px;
    background-color: #ffecec;
}

.navbar a {
    text-align: center;
    text-decoration: none;
    padding: 2px;
    /* border: 2px solid #824343; */
    color: #4f575b;
    /* background-color: #f6e7e7; */
    border-radius: 3px;
    /* width: 0px; */
    margin: 21px;
    padding: 15px;
}

.addTask {
    border: 2px solid black;
    margin-top: 57px;
}

.group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.group label {
    padding: 10px;
    margin: 16px;
}

.table tr, td, th {
    border: 1px solid rgb(192, 146, 146);
}

.table {
    width: 100%;
}

.table tr th, .table tr td {
    padding: 10px;
}

.table tr:first-child {
    background-color: rgb(147, 209, 147);
    color: white
}

.container {
    width: 96%;
    margin-top: 5%;
    margin-left: 33%;
    padding: 10px;
}

/* 
.view_style {
    display: none;
} */